::ng-deep .navbar-default {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255,50,50,0.7);
}
:ng-deep .navbar .navbar-brand {
    font-weight: 400;
    margin: 5px 0px;
    padding: 15px 15px;
    font-size: 20px;
    color: white !important;
}
.navbar-default {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255,50,50,0.7);
}
.navbar .navbar-brand {
    font-weight: 400;
    margin: 5px 0px;
    padding: 15px 15px;
    font-size: 20px;
    color: white !important;
}