<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category">Commands</p>
            <h3 class="card-title">{{commandsLength}}
              <small></small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Commands
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category">Users</p>
            <h3 class="card-title">{{usersLength}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Users
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category">Products</p>
            <h3 class="card-title">{{productsLength}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Prods
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">

            </div>
            <p class="card-category">Categories</p>
            <h3 class="card-title">{{catsLength}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              Subcats:
              {{subCatsLength}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row input-holder">
      <div class="col-3 col-md-3 container-hamdouns">
       <span class="card-category"> Closing hour :</span>
        <div class="row container-hamdouns">
          <input type="text" placeholder="Closing Hour" [(ngModel)]="hamdouns.closing_hour" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="updateHamdouns(hamdouns);isUpdateCl=!isUpdateCl">Save</Button>
        </div>

        <div class="row" *ngIf="isUpdateCl">
          Closing hour has been updated successfully
        </div>
      </div>
      <div class="col-3 col-md-3 container-hamdouns">
        <span class="card-category"> Opening hour :</span>
         <div class="row container-hamdouns">
         <input type="text" placeholder="Opening hour" [(ngModel)]="hamdouns.opening_hour" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="updateHamdouns(hamdouns);isUpdateOp=!isUpdateOp">Save</Button>
        </div>

        <div class="row" *ngIf="isUpdateOp">
          Opening hour has been updated successfully
        </div>
      </div>
      <div class="col-3 col-md-3 container-hamdouns">
        <span class="card-category"> Locations :</span>
        <div class="row container-hamdouns">
          <input type="text" placeholder="Location" [(ngModel)]="loc" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="addLocation();updateHamdouns(hamdouns)">Add</Button>
        </div>

        <div class="row" *ngFor="let location of hamdouns.locations_list">
          {{location}}
        </div>
        <div class="row" *ngIf="isUpdateLoc">
          {{updatedLocation}}
        </div>
      </div>



    </div>
    <div class="row" *ngIf="isUpdatePub">
      Ad has been updated successfully
    </div>
    <div class="row input-holder">
      <div class="col-3 col-md-3">
        <span class="card-category">  Ad big title text:</span>
        <div class="row container-hamdouns">
          <input type="text" placeholder="Ad Big Title" [(ngModel)]="pub.bigTitle" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="updatePub(pub);isUpdatePub=!isUpdatePub">Save</Button>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <span class="card-category">   Ad sub title text:</span>
        <div class="row container-hamdouns">
          <input type="text" placeholder="Ad Subtitle" [(ngModel)]="pub.underTitle" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="updatePub(pub);isUpdatePub=!isUpdatePub">Save</Button>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <!--/**pub{imageSrc,bigTitle,underTitle,when} */-->
        <span class="card-category">  Ad date text :</span>
        <div class="row container-hamdouns">
          <input type="text" placeholder="Ad Subtitle" [(ngModel)]="pub.when" [ngModelOptions]="{standalone: true}">
          <Button type="button" class="btn btn-danger" (click)="updatePub(pub);isUpdatePub=!isUpdatePub">Save</Button>
        </div>
      </div>

      <div class="col-3 col-md-3">
        <!--/**pub{imageSrc,bigTitle,underTitle,when} */-->
        <span class="card-category">  Update Image</span>
        <div class="row container-hamdouns">
          <input type="file" name="file" id="file" class="inputfile"  (change)="uploadFile($event);updatePubImage=!updatePubImage"/>
          <label for="file"><i class="pe-7s-upload"></i>Choose a file</label>
        </div>
      </div>
      <!--

        <div class="col-3 col-md-3">
          <div class="row">
            <img src="{{pub.imageSrc}}" height="100px" width="100px"/>
          </div>
          <div class="row">
            <input type="file" name="file" id="file" class="inputfile"  (change)="uploadFile($event);updatePubImage=!updatePubImage"/>
            <label for="file">Update Image</label>
          </div>
          <div class="row" *ngIf="updatePubImage">
            {{uploadPercent}}
          </div>
        </div>
      -->
    </div>




    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <div class="pull-left">
              <h4 class="card-title">Last users</h4>

              <p class="card-category">{{usersLength}} User</p>
            </div>


          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>ID</th>
                <th>Name</th>
                <th>Zone</th>
                <th>Phone Number</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users.slice(0,4); let i=index">
                  <td>{{i}}</td>
                  <td>{{user.fname}} {{user.lname}}</td>
                  <td>{{user.zone}}</td>
                  <td>{{user.phone_number}}</td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <div class="pull-left">
              <h4 class="card-title">Last commands</h4>

              <p class="card-category">{{commandsLength}} Command</p>
            </div>


          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <!--'ID','Name', 'Zone', 'Total', 'Delievered','Promotion'-->
                <th>ID</th>
                <th>Name</th>
                <th>Zone</th>
                <th>Total</th>
                <th>Delievered</th>
                <th>Promotion</th>
              </thead>
              <tbody>
                <tr *ngFor="let row of commands.slice(0,4);let i=index">
                  <td>{{i}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.client_zone}}</td>
                  <td>{{row.total}}</td>
                  <td *ngIf="!row.canceled"><button type="button" [ngClass]="row.delievered?'btn-success':'btn-warning'"
                      class="btn waves-effect"><span *ngIf="row.delievered">DELIEVERED</span><span *ngIf="!row.delievered">EN
                        COURS</span></button></td>
                  <td *ngIf="row.canceled"><button type="button" class="btn waves-effect btn-danger">CANCELED</button></td>
                  <td *ngIf="row.isPromotion">Yes</td>
                  <td *ngIf="!row.isPromotion">No</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>